
<div class="container">
  <h1>Your Notes</h1>
  <% @all_notes.each do |note|  %>
    <p> This is a note: 
      <a href="/notes/<%=note.id%>/edit">Edit</a>
      <a href="/notes/<%=note.id%>/delete">Delete</a></p>
    <p>Title:<%= note.note %></p>
    <p>Description:<%= note.content %></p>
  <% end %>
</div>
